/* TOOLS*/
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }
.pointer{
    cursor: pointer;
}
.nuty-color{
    background-color: #FFFEC8;
}
/* SECTION UP */
.carousel{
    height: 100vh;
}
.navbar-fixed{
    position: fixed;
}
.carousel-item{
    background-size: cover;
    background-position: center center;
}

.carousel-item .dalam{
    position: fixed;
    bottom: 20px;
    left: 2em;
}
.carousel.carousel-slider .carousel-item .name-product{
    margin-bottom: 0;
    text-transform: uppercase;
    font-family: 'Didact Gothic';
    font-weight: bold;
    line-height: 0.3;
}
.carousel.carousel-slider .carousel-item .des-product{
    font-family: 'Didact Gothic';
    font-weight: lighter;
    font-size: smaller;
}
.carousel.carousel-slider .carousel-item p{
    font-size: 25px;
}
nav{
    background-color: #fffa01;
    box-shadow: none;
}
.section{
    padding: 0;
}
.carousel.carousel-slider .carousel-fixed-item{
    top:20%;
    bottom: unset;

}
.slogan{
    margin-bottom: 0;
    margin-left: 50vw;
    transform: translate(-50%) ;
    /* font-family: 'Dekko'; */
    font-family: 'Didact Gothic';
    color: #FFE264;
}
.bg-change{
    background-color: rgba(0, 0, 0, .6);
    height: 100%;
    width: 100%;
}
#nav-mobile{
    font-family: 'Dekko';
}
#nav-mobile li a{
    font-size: 20px;
    color: #9C7F00;
    
}
#nav-mobile li a:hover{
    color: black;
}
/* SSECTION DOWN */
.row{
    text-align: center;
    margin-bottom: 0;
}
.row .col.pointer img{
    width: 50%;
    padding-top: 2.5vh;
}
.row .col.pointer:hover{
    transition: 0.5s ease-in-out;
    background-color: #FF9200;
    background-size: cover;
}
.modal{
    max-height: 80%;
    width: 70%;
}
.p1{
    padding: 1rem;
}
.black-nav{
    background-color: rgba(0, 0, 0, .4);
}

.foto_produk{
    height: 100%;
    display: grid;
    place-items: center;
}
.foto_produk img{
    height: 100%;
    
}
.des_produk{
    display: grid;
    place-items: center;
    height: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.des_product::-webkit-scrollbar {
    display: none;
  }
.modal-content .row{
    height: 100%;
}
.modal-content{
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.modal-content::-webkit-scrollbar {
    display: none;
  }
