/* TOOLS*/
html{
    scroll-behavior: smooth;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; 
  }
.pointer{
    cursor: pointer;
}
.nuty-color{
    background-color: #FFFEC8;
}
.bg-contain1{
    background-color: #FF9200;
}
.bg-contain2{
    background-color: #fffa01;
}
.bg-change{
    background-color: rgba(0, 0, 0, .25);
    height: 100%;
    width: 100%;
}
.p1{
    padding: 1rem;
}
.container.w90{
    width: 90%;
}
.rounded{
    border-radius: 1em;
}
.h100{
    min-height: 100vh;
}
.mid{
    display: flex;
    place-items: center;
    place-content: center;
}

/* SECTION UP */
.carousel{
    height: 100vh;
}
.navbar-fixed{
    position: fixed;
}
.carousel-item{
    background-size: cover;
    background-position: center center;
}
.carousel-item .dalam{
    position: fixed;
    bottom: 20px;
    left: 2em;
}
.carousel.carousel-slider .carousel-item .name-product{
    margin-bottom: 0;
    text-transform: uppercase;
    font-family: 'Josefin Sans';
    font-weight: bold;
    line-height: 0.3;
}
.carousel.carousel-slider .carousel-item .des-product{
    font-family: 'Inter';
    font-size: smaller;
}
nav{
    background-color: transparent;
    box-shadow: none;
    transition: .5s ease-in-out;
}
.section{
    padding: 0;
}
.carousel.carousel-slider .carousel-fixed-item{
    bottom: unset;
}
.indicator-item.active{
    transform: scale(1.5);
}
.slogan{
    margin-bottom: 0;
    margin-left: 50vw;
    transform: translate(-50%) ;
    font-family: 'Rubik';
    color: #FFE264;
}
.slogan-b{
    font-family: 'Gelasio';
    color: #FFFEC8;;
}

#nav-mobile{
    font-family: 'Inter';
    
}
#nav-mobile li:hover{
    background-color: #FF9200;
}
#nav-mobile li a{
    font-size: 1rem;
    color: #FFFEC8;
    
}

/* SSECTION DOWN */
.row{
    text-align: center;
    margin-bottom: 0;
}
.row .col.pointer img{
    width: 50%;
    padding-top: 2.5vh;
    object-fit: cover;
}
.row .col.pointer:hover{
    transition: 0.5s ease-in-out;
    background-color: #FF9200;
    background-size: cover;
}
.modal{
    max-height: 80%;
    width: 70%;
}

.foto_produk{
    height: 100%;
    display: grid;
    place-items: center;
}
.foto_produk img{
    height: 100%;
    object-fit: cover;
    
}
.des_produk{
    display: grid;
    place-items: center;
    overflow-y: auto;
    height: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.des_product::-webkit-scrollbar {
    display: none;
  }
.modal-content .row{
    height: 100%;
}
.modal-content{
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.modal-content::-webkit-scrollbar {
    display: none;
}


/* CONTACT */
.lower h3{
    color: #FF9200;
}
.lower p{
    color: #FF9200;
}
.row .media-contact a{
    color: #FF9200;
}
.socmed{
    font-family: 'Inter';
}


/* Product display */
.product{
    display: flex;
    height: 100vh;
}
.product-contain{
    padding: 3%;
    padding-top: 10%;
    width: 50%;
    height: 100%;
    transition: .5s ease-in-out;
    cursor: pointer;
    display: grid;
    place-items: center;
    place-content: center;
}
.judul{
    font-size: 2rem;
    margin-top: 50%;
    transition: .5s ease-in-out;
    font-family: 'Ubuntu';
}
.food-img{
    width: 30%;

}
.kembali{
    margin-top:0;
}

.display-menu{
    height: 100vh;
    padding-top: 5vw;
    padding-bottom: 5vw;
    
}
.card-panel.no-shadow{
    box-shadow: none;
}
.card-panel.h65{
    height: calc(65vh - 5vw);
}
.row .card-panel.h65 p{
    font-size: x-large;
    text-align: left;
}
.card-panel.h25{
    height: calc(25vh - 2.5vw);
    display: flex;
    place-content: center;
    place-items: center;
}
.card-panel.h25 h5{
    font-size: 2em;
    margin: 0;
}
.card-panel.h253{
    height: calc(25vh - 3vw);
    display: flex;
    place-content: center;
    place-items: center;
}
.card-panel.h253 h3{
    margin: 0;

}
.card-panel.h254{
    height: calc(25vh - 3.5vw);
}

.pnl-1{
    background-color: #FFFEC8;
    color: #1F1809 ;
    font-family: 'Ubuntu'; 
}
.pnl-2{
    background-size: cover;
    background-color: #FFFEC8;
}
.pnl-3{
    background-color: rgb(209, 209, 209) ;
    background-size: cover;
    font-family: 'Didact Gothic';
}
.pnl-4{
    background-color: rgb(223, 152, 0);
    /* color: #1F1809 ; */
    color: #FFFEC8;
}
.pnl-5{
    background-color: rgb(124, 178, 67) ;
    /* color: #1F1809 ; */
    color: #FFFEC8;
}
.pnl-6{
    background-color: rgb(204, 214, 16);
    /* color: #1F1809 ; */
    color: #FFFEC8;
}
.fnt h3{
    font-weight: bolder;
}
.spd-c{
    height: calc(100vh - 11.5vw);
}

/*Splide*/
.splide__slide{
    cursor: pointer;
}
.splide--nav > .splide__track > .splide__list > .splide__slide.is-active{
    border-color: rgb(124, 178, 67);
}
.splide__arrow{
    height: 2.5em;
    opacity: .9;
    border-radius: 0;
}
.splide--ttb > .splide__arrows .splide__arrow--next, .splide--ttb > .splide__track > .splide__arrows .splide__arrow--next{
    bottom: 0;
}
.splide--ttb > .splide__arrows .splide__arrow--prev, .splide--ttb > .splide__track > .splide__arrows .splide__arrow--prev{
    top: 0;
}
.splide--ttb > .splide__arrows .splide__arrow--next, .splide--ttb > .splide__track > .splide__arrows .splide__arrow--next:focus{
    background: rgb(124, 178, 67);
}
.splide--ttb > .splide__arrows .splide__arrow--prev, .splide--ttb > .splide__track > .splide__arrows .splide__arrow--prev:focus{
    background: rgb(124, 178, 67);
}

/* FOOT */
footer{
    display: grid;
    width: 100%;
    height: 50px;
    background-color: #FF9200;
    place-content: center;
    place-items: center;
}
.foot{
    font-family: 'Rubik';
    text-align: center;
    color: #1F1809;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .carousel.carousel-slider .carousel-fixed-item.with-indicators{
        bottom: 50vh;
        transform: translateY(50%);
    }
    .slogan{
        font-size: 2em;
    }
    .carousel.carousel-slider .carousel-item .name-product{
        font-size: 1rem;
    }
    .carousel.carousel-slider .carousel-item .des-product{
        font-size: .75rem;
    }
    .carousel-item .dalam{
        bottom: 10vh;
        left: 2rem;
        width: 90%;
    }
    .card-panel.h25 h5{
        font-size: 1.25em;
    }
    .card-panel.h25,.card-panel.h65,.card-panel.h253,.card-panel.h254, .h100, .display-menu, .spd-c{
        height: unset;
        min-height: 0;
    }
    .row .card-panel.h65 p{
        font-size: 1.2em;
    }
    .card-panel{
        padding:1rem;
    }
    .h100.khusus{
        min-height: 100vh;
    }
  }