/* SECTION UP */
.carousel{
    height: 100vh;
}
.navbar-fixed{
    position: fixed;
}
.carousel-item{
    background-image: url("asset/img/2.jpg");
}
.carousel-item .dalam{
    margin-top: 10vh;
}
.dalam{
    display: none;
}
nav{
    background-color: transparent;
    box-shadow: none;
}
.section{
    padding: 0;
}
.carousel.carousel-slider .carousel-fixed-item.with-indicators{
    bottom: 0;
}
.slogan{
    margin-bottom: 25vh;
    margin-left: 50vw;
    transform: translate(-50%) ;
    /* font-family: 'Dekko'; */
    font-family: 'Didact Gothic';
    color: rgb(236, 220, 204);
}
.bg-change{
    background-color: rgba(0, 0, 0, .6);
    height: 100%;
    width: 100%;
}
#nav-mobile{
    font-family: 'Dekko';
}
#nav-mobile li a{
    font-size: 20px;
}
#nav-mobile li a:hover{
    color: black;
}
/* SSECTION DOWN */
.row{
    text-align: center;
    margin-bottom: 0;
}
.row .col img{
    width: 50%;
    padding-top: 2.5vh;
}
.col:hover{
    background-color: rgba(0, 0, 0, 0.212);
}
.col:before{
    background-color: brown;
    width: 40%;
}
